body {
    background-image: url('/static/images/forumBg.png'); /* Adjust the path based on your directory structure */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    margin: 0; /* Remove default margin */
    image-orientation: from-image; /* Correct image orientation */
  }
  
.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#edb0e3;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#141114;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 30px;
}

.subforum-devider{
    display: none;   
}







